/** header */
body{
	background-color  : #f4ece2;
	margin: 0 10%;
	font-family:  Georgia,serif;
	padding-right: 10%;
}

h1{
	text-align:center;
	font-family:  serif;
	font-weight:normal;
	border-bottom: 1px solid  #6bd3e0;
	margin-top:30px;
}

h2{
	color#  #5b899b;
	font-size:  16px;
}
#header, header
{
	text-align:center;
}

/** navigation */
#navigation ul, nav ul
{
	list-style-type:none;
	display:block;
}

#navigation ul li, nav ul li
{
	float:left;
	margin: 5px;
	padding:5px;
	margin-right: 50px;
}
#navigation ul:after, nav ul:after
{
	clear:both;
	display:block;
	content:"";
}
/** sidebar */
#sidebar, aside
{
	float:right;
	width:10%;
	margin-top: 50px;
}

#sidebar ul li, aside ul li
{
	font-size:1.5em;
	margin:5px;
	padding:5px;
}


/** content */
#content, section
{
	display:block;
	width:85%;
}

/** footer */
#footer, footer
{
	text-align:center;
}
